/*  Regras Gerais */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
	font-family: 'Roboto', sans-serif;
}

/* LOGO NAV*/

.logo {

	width: 160px;
}

#nav {
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(248,193,19,1) 100%);
	box-shadow: 2px 2px 2px 2px #cdcdcd;
	position: sticky;
	top: 0;
	z-index: 10;
}

#navbarNav ul li a {
	color: #fff;
	font-weight: bold;
}

#navbarNav ul li a:hover {
	color: #000;
	background: #fff;
}

/* Seção do Carrosel */
.sectionCarrosel {
	margin-top: 5px;
}

#imgBanner {
	height: 450px;
}

/*Seção quem somos */
#mainQuemSomos {

	margin-top: 100px;
	font-size: 18px;
}

.main-title {
	color: #000;
	text-align: center;
	font-size: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
}

/*Seção serviços*/

#blocos {

	margin-bottom: 100px;
}

.destaque-texto {
	color: #3498db;
	font-weight: bold;
	font-size: 20px;
}

.icones {
	color: #3498db;
	font-size: 40px;
	padding-bottom: 10px;
}

.destaque {
	font-size: 16px;
	color: #000;
	padding: 15px;
	padding-top: 10px;
}

/*Contato */
#contato {
	margin-bottom: 150px;
}

.bt-enviar {
	width: 100%;
}

/*FOOTER*/

#footer {
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(248,193,19,1) 100%);
}

.logo_footer {

	height: 120px;
	padding-top: 40px;
	padding-bottom: 40px;
}