#imgTopo {
    height: 50px;
}

#nav {

    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
}

#navbarNav ul li a {
    font-size: 17px;
    color: #ffffff;
    margin: 0 15px;
    font-weight: 300;

}

#navbarNav ul li a:hover {
    color: #F8F8FF;
    transform: scale(115%);

    transition: 0.3s;

}

body{
    background-color: #ffffff ;
}

h1,h3,h2{
    /* color: #ffffff; */
    text-align: center;
    padding: 30px;
}

/* form {
    color: #ffffff;
} */


.botao {
    background-color: #159A9C;
    color: #ffffff;
    margin-top: 20px;
    padding: 10px 50px;
    border-radius: 6px;
    border: 1px solid #ffffff ;
    font-size: 18px;
    font-weight: 600;


}
.botao:hover {
    transition: 0.4s;
    background-color: #DEEFE7;
    color: #000000;
    border: 1px solid #000000 ;

}

/* 
thead{
    color: rgb(255, 255, 255);
}


label{
    color: white;
}

.paginate_button, .dataTables_info{
    color: #ffffff;
} */